html{
    display: block;
    margin: auto;
}

body {
    
    font-family: 'Baloo 2', cursive;
    padding: 0;
    margin: 0;
    font-size: 20px;
    background-color: black;
    box-sizing: border-box;
}


/* firsthalf section  */
img {
   
    background: black;
    height: 160px;
    width: 98.9vw;
}

.firsthalf {
    width: 1200px;
    text-align: center;
    display: block;
    margin: auto;
}

.firsthalf h1 {
    font-size: 55px;
    font-weight: bolder;
    color: gold;
    text-shadow: 2px 2px 20px gold;
}

.firsthalf h2 {
    color: rgb(45, 45, 192);
    text-shadow: 2px 2px 20px rgb(45, 45, 192);

}

.firsthalf p {
    font-size: 27px;
    color: white;
}



/* image section  */
.imgsec {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 640px;
    align-items: center;
    justify-content: space-evenly;
}

#imghead h2 {
    color: darkorange;
    text-shadow: 2px 2px 20px orange;
    padding: 40px;
    margin: 10px;
    text-align: center;
}

.pic img {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
    margin: 30px;
    border-radius: 50px;
    transition: 0.2s ease;
}

.pic img:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 22px 6px white;

}

.pic p {
    color: gold;
    text-align: center;
    font-size: 28px;
}



/* secondhalf section  */
.secondhalf {
    width: 740px;
    border: 2px solid white;
    border-radius: 50px;
    background-image: url(/Images/design-space-paper-textured-background_53876-42312.webp);
    display: block;
    margin: auto;
    padding: 90px;
}

.secondhalf img {
    height: 1000px;
}

.secondhalf h2 {
    color: orange;
    text-shadow: 2px 2px 20px orange;
    text-align: center;
    font-size: 40px;
}

.items {
    font-weight: bolder;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;

}

.items input {
    font-weight: bolder;
    text-align: center;
    background-color: rgb(228, 228, 228);
    display: block;
    width: 470px;
    padding: 13px;
    margin: 14px auto;
    /* border: 2px solid black; */
    border-radius: 21px;
    transition: 0.3s ease;
    

}

.items input:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 22px 6px rgba(19, 20, 18, 0.5);

    

}

.items button {
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    transition: 0.3s ease;
    font-weight: bolder;
    box-shadow: 1px 1px 22px 6px rgba(19, 20, 18, 0.5);

}

.items button:hover {
    /* transform: scale(1.05); */
    background-color: rgba(181, 172, 172, 0.74);
    animation-name: slide;
    animation-duration: 1s;
}

@keyframes slide {
    from{
        top: 0px;
        left: 0px;
    }

    to{
        top: 0px;
        right: 20px;

    }
}

