body {
    height: 1200px;
    background-repeat: no-repeat;
    font-family: 'Baloo 2', cursive;
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
}


/* firsthalf section  */
img {
    background: black;
    height: 160px;
    width: 98.9vw;
    border-bottom: zpx solid black;
}

.firsthalf {
    text-align: center;
    background-image: url(/Images/marek-piwnicki-QXtZnynwnnA-unsplash.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.firsthalf h1 {
    font-size: 35px;
    font-weight: bolder;
    margin-top: 21px;
    margin-bottom: 102px;
    color: #0000008a;
    text-shadow: 2px 2px 20px;
}

.firsthalf h2 {
    font-size: 26px;
    color: black;
    font-weight: bold;

}

.firsthalf p {
    font-size: 15px;
    color: white;
    display: block;
            padding-bottom: 60px;
}



/* image section  */
.imgsec {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    margin-bottom: 20px;
    height: 640px;
    align-items: center;
    justify-content: space-evenly;
}

#imghead h2 {
    font-size: 36px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.pic img {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
    margin: 30px;
    border-radius: 50px;
    transition: 0.2s ease;
    border: 3px solid black;

}

.pic img:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 22px 6px white;

}

.pic p {
    color: #7b0000;
    text-align: center;
    font-size: 28px;
}



/* secondhalf section  */
.secondhalf {
    width: 740px;
    border: 3px solid black;
    border-radius: 50px;
    background-image: url(/Images/design-space-paper-textured-background_53876-42312.webp);
    display: block;
    margin: auto;
    padding: 90px;
}

.secondhalf h2 {
    color: #0000008a;
    text-shadow: 2px 2px 20px white;
    text-align: center;
    font-size: 40px;
}



.items {
    font-weight: bolder;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.items input {
    font-weight: bolder;
    text-align: center;
    background-color: rgb(228, 228, 228);
    width: 500px;
    padding: 13px;
    margin: 14px;
    /* border: 2px solid black; */
    border-radius: 21px;
    transition: 0.3s ease;


}

.items input:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 22px 6px rgba(19, 20, 18, 0.5);
}

.items button {
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    transition: 0.3s ease;
    font-weight: bolder;
}

.items button:hover {
    transform: scale(1.15);
    background-color: rgba(181, 172, 172, 0.74);
    animation-name: slide;
    animation-duration: 1s;
}